<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videoaudiocall.library" >
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name="com.videoaudiocall.videocall.VideoRequestActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true"
            />

        <service
            android:name="com.videoaudiocall.videocall.ReceiveVideoCallService"
            android:enabled="true"
            android:exported="true"></service>
    </application>
</manifest>