<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juntai.wisdom.policeAir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.juntai.wisdom.policeAir.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.juntai.wisdom.policeAir.home_page.news.exoplayer_tiktok.TikTokActivity" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_publish.preview.VideoPreActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_publish.preview.ImageTextPreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_info.report.ReportActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.SecondActivity"
            android:parentActivityName="com.juntai.wisdom.policeAir.base.MainActivity">

            <!-- 申明parentActivity，用户按返回键后返回主页面 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.juntai.wisdom.policeAir.base.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 下面所设置的data值需要和html端对应 -->
                <!-- 在data里设置了 scheme和host，则该Activity可以接收和处理类似于 "test://article/attr"的链接 -->
                <data
                    android:host="article"
                    android:pathPrefix="/attr"
                    android:scheme="jingxiaobao" />
            </intent-filter>
        </activity>
        <activity android:name="com.juntai.wisdom.video.player.VideoNetPlayerActivity"></activity>
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.equipment.my_equipment.MyEquipmentListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_publish.UpdateVideoNewsActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.BindingPhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_publish.UpdateImageNewsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.complete_info.CompleteInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.site_manager.site_add.UpdateSiteActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_personal_homepage.FansListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_personal_homepage.PersonalHomepageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_info.NewsNormalInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- android:hardwareAccelerated="true" -->
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_info.NewsVideoInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_search.NewsSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_publish.PublishNewsActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.site_manager.site_add.AddNewSiteActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.site_manager.site_add.AddUnitInspectionActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.site_manager.site_add.AddEmployeeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.site_manager.site_info.UnitInspectionDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.site_manager.site_info.NewUnitDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.key_personnel.KeyPersonnelInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.key_personnel.PublishInterviewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.key_personnel.InterviewDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.exchange_mall.HistoryListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.exchange_mall.GoodsInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.exchange_mall.AllGoodsListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.business.my_business.MyBusinessDetialActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.business.my_business.MyBusinessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.business.transact_business.SubmitSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.business.transact_business.TransactBusinessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.business.more_business.MoreBusinessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.business.business_common.BusinessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.conciliation.conciliation_common.ConciliatonInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.conciliation.conciliation.JoinRoomActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.conciliation.conciliation_list.ConciliationListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.conciliation.conciliation_publish.SucessResultActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.conciliation.conciliation_publish.PublishConciliationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.task.ReportDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.task.PublishTReportActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.task.TaskInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.task.MyTaskListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.inspection.InspectionInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.camera.ijkplayer.PlayerLiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.camera.ijkplayer.CarLiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />

        <service android:name="com.juntai.wisdom.policeAir.home_page.camera.ijkplayer.KeepAliveService" />

        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.site_manager.site_info.EmployeeDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.message.InformMsgInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.inspection.InspectionDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.news.news_comment.CommentChildActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.inspection.PublishInspectionActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.law_case.PublishCaseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.message.MyMessageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.mypublish.MyPublishListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.mycollect.MyCollectActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.score.MyScoreActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.call_to_police.VerifiedActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.call_to_police.CallToPoliceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.setting.MySettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.regist.RegistActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.BackPwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.guide.GuideActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.map.PanoramaActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.map.DistanceUtilActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.weather.SelectLocation"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.search.SearchActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="com.juntai.wisdom.policeAir.utils.MyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:name,android:authorities,android:exported,android:grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:name,android:resource" />
        </provider>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" /> <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 百度地图 -->
        <!-- Ma - debug-Release-key : A2hxzsrCO3VOXGXBzVjP3zKKYBsNhi1A -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QpiZRZlZut2pSP7HIU2a1GFbLQ6WXsZz" /> <!-- 百度地图 -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="ik1qhw09iy5yp" /> <!-- 融云配置   end ||| -->
        <!--  -->
        <service android:name="com.juntai.wisdom.bdmap.service.LocateAndUpload" /> <!--  -->
        <activity
            android:name="com.juntai.wisdom.policeAir.entrance.StartActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.juntai.wisdom.policeAir.base.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->

            <!-- URL启动启动配置,用于跳转支付宝生活缴费界面 -->
            <intent-filter>
                <data android:scheme="alipay" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity> <!-- 关于 -->
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.AboutActivity"
            android:launchMode="singleTop" /> <!-- 个人信息 -->
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.myinfo.MyInformationActivity"
            android:launchMode="singleTop" /> <!-- 图片裁切 -->
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.myinfo.ImageCropActivity"
            android:launchMode="singleTop" /> <!-- 案件追踪 -->
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.law_case.CaseInfoActivity"
            android:launchMode="singleTop" /> <!-- 案件详情 -->
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.law_case.CaseDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.map.HistoryTrack"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.weather.WeatherActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.home_page.map.SelectTime"
            android:launchMode="singleTop" />
        <activity
            android:name="com.juntai.wisdom.policeAir.mine.UserAgreementActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>